<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>edit todo <%= todo.id%> </h1>
    <form action="/update/<%= todo.id %>" method="post">
        <input type="hidden" name="_method" value="PUT">
        <input type="text" name="title" value="<%= todo.title %>">
        <input type="text" name="description" value="<%= todo.description %>">
        <input type="text" name="completed" value="<%= todo.completed %>">
        <button type="submit">update</button>
</body>
</html>